<p id="notice"><%= notice %></p>

<h1>Special Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Description</th>
      <th>Favorite food</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @special_users.each do |special_user| %>
      <tr>
        <td><%= special_user.name %></td>
        <td><%= special_user.age %></td>
        <td><%= special_user.description %></td>
        <td><%= special_user.favorite_food %></td>
        <td><%= special_user.published %></td>
        <td><%= link_to 'Show', special_user %></td>
        <td><%= link_to 'Edit', edit_special_user_path(special_user) %></td>
        <td><%= link_to 'Destroy', special_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Special User', new_special_user_path %>
